<div class="user-details">
  <h1> 制作者 </h1>
  <p> {{site.username}} </p>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <h2>演示视频</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <a href="https://www.bilibili.com/video/av26031454/">戳我观看</a>
    </div>
    <div class="tech">
      <h2>下载游戏【安卓】</h2>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <a href="{{ "/assets/img/eatMore.zip" }}">点击下载试玩！</a>
    </div>
    <div class="tech">
      <h2>设计文档</h2>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <a href="https://github.com/Fatty-AR/Fatty-AR/blob/master/“我还能吃“%20游戏设计文档.md">戳我查看</a>
    </div>
</div>
