<div class="user-details">
  <h1> 我还能吃！ </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="设计示意图" src="{{ "/assets/img/schematicDiagram.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 游戏背景 </h3>
    <p>你，是一个胖子；一个十分热爱美食的胖子。有一天，你在一个巨大的食盘上醒来，你变成了个迷你胖子！哇，眼前有好多好吃的东西！吃吃吃吃吃吃吃......</p>
    <p>啊！什么！有叉子戳我！不好！有个巨大的胖子在吃饭。我要躲开他的叉子，找到出口！</p>
    <p>但是眼前的美食...啊，舍不得，怎么办呢？</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents full">
    <h3> 游戏元素 </h3>
    <ul>
      <li> 游戏主角：小胖，一个热爱美食的吃货。 </li>
      <li> 大胖。一个正在吃巨大食盘中食物的人，拿着叉子随机选取食盘中食物进行食用。 </li>
      <li> 食物。巨大的食物团具有神奇的魔力，吃了可以补充游戏人物小胖的体力，然而附带有神秘能力——小胖吃了食物后可随机获得增益或减益效果（如：移动速度加快、原地僵直2秒等）。【注：在同一场游戏中出现的同一种食物，随机效果相同】 </li>
      <li> 叉子。大胖手中的叉子很有可能随机戳中小胖，小胖的体力会下降，当体力跌至0，则小胖逃出食盘行动失败。 </li>
      <li> 神秘出口。小胖想要逃离食盘，却又迷失在食物中找不到出口，当吃了一定量的食物，心满意足，神秘出口就会出现。 </li>
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="contents full">
    <h3> 游戏机制 </h3>
    <p> 本游戏为逃生游戏，小胖需要避开大胖的叉子攻击，找到神秘出口，逃离食盘。然而，因小胖天生的吃货属性，对美食没有抵抗能力，在寻找出口的途中会偷吃食盘里的食物。 </p>
    <p> <b> 本游戏设有三个属性条：体力条、满意度和体型 </b> </p>
    <ul>
      <li> 体力条：小胖的体力在逃生途中不断降低，需要通过补充食物来保证充足的体力。然而食物中含有神秘的力量，可能会随机获得增益或减益效果（如：移动速度加快、原地僵直2秒等。） </li>
      <li> 满意度：作为一个合格的吃货，小胖是不可能在没吃够的情况下离开食盘！只有当满意度到达一定值，食盘的神秘出口才会出现。 </li>
      <li> 体型：小胖不停的偷吃食盘中的食物，身材越来越胖，体型越长越大，渐渐地，他不再是迷你。当小胖吃得越多，体型越大，被大胖发现的几率会更大，被叉子戳中的几率也会更大。当体型大到跟食物团一样大时，将会被大胖发现，误以为是食物，逃生失败。 </li>
    </ul>
  </div>
</div>

<img alt="游戏运行截图" src="{{ "/assets/img/screenShot.png" }}" />

<div class="user-projects">
  <div class="contents full">
    <h3> 游戏玩法 </h3>
    <ul>
      <li> 玩家在食盘中随机地点醒来，控制方向键找到食物，吃下食物补充体力，并增加自身满足感。 </li>
      <li> 在逃生途中，头顶可能随机出现叉子，提前两秒预示，玩家需躲避叉子的攻击，但食用食物的过程需要时间，此时间段内无法移动。若不幸被叉子戳中，则体力条会下跌一固定数值，若体力值跌至0，则逃生失败。 </li>
      <li> 若玩家在寻找出口的过程中，不食用食物，则体力值会持续下降，当跌至0时，逃生失败；若玩家在神秘出口已出现后，不尽快逃生而一直摄取食物，则体型会逐渐增大，增大被叉子攻击的几率。当体型大到一定值而还未逃出，则会被大胖发现，逃生失败。 </li>
      <li> 玩家需悉知，摄取食物后会随机获得一个增益或减益效果。 </li>
      <li> 游戏的最终分数由 “摄取食物量”、“被攻击次数”和“逃生成功”来综合计算。在逃生成功的前提下，摄取的食物量越多、被攻击的次数越少，分数越高。 </li>
    </ul>
  </div>
</div>

<div class="user-projects">
  <div class="contents full">
    <h3> 游戏亮点 </h3>
    <ul>
      <li> 第一人称和全局视角切换 </li>
      <li> 重力模式和摇杆操控兼备 </li>
      <li> 游戏背景创新 </li>
      <li> 画风可爱、音效多样、难度适中 </li>
    </ul>
  </div>
</div>

    <table>
      <tr>
        <th></th>
        <th>完成工作</th>
      </tr>
      <tr>
        <td>15331010</td>
        <td>UI设计、代码编写</td>
      </tr>
      <tr>
        <td>15331034</td>
        <td>游戏策划、代码编写</td>
      </tr>
      <tr>
        <td>15331048</td>
        <td>游戏策划、代码编写</td>
      </tr>
    </table>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
